@import "tailwindcss";

:root {
  --color-background: 0, 0%, 7%;
  --color-primary: 0, 0%, 23%;
  --color-secondary: 0, 0%, 90%;
  --color-accent: 302, 100%, 69%;

  --text-primary: 0, 0%, 100%;
  --text-secondary: 0, 0%, 90%;
  --text-accent: 302, 72%, 43%;

  --button-secondary: 0, 0%, 18%;
}
